@import '../../styles//variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  padding: $paddingLarge;
  width: calc(100% - 2 * $paddingLarge);
  background-color: $colorSecondary;
}

.logo {
  cursor: pointer;
  color: orange;
  font-weight: bold;
}

.userImg {
  border-radius: 50px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
