.wrapper {
  display: flex;
  padding: 24px 48px 0 48px;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    width: 100%;
    .title {
      margin-right: auto;
    }
  }

  .tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
